{% extends 'base.html' %}

{% block content %}


    <h1>List of Syllabus</h1>
    {% for details in details_list %}
      <div class="card">
        <a href="{% url 'show-syllabus' syllabus.id %}"></a>
          <div class="card-header">
            <strong>{{ details.c_code }}</strong>
          </div>
          <div class="card-body">
            <h6 class="card-title">
              Course Name: {{ details.name }}<br/>
              Credits: {{ details.credits }} Units<br/> 
            </h6>
            <p class="card-text">
              <strong>Course Description:</strong> </br>{{ details.course_description }}
            </p>
          </div>
        </div>
    {% endfor %}



{% endblock %}