{% extends 'base.html' %}

{% block content %}

{%load static%}
<head>
<link rel='stylesheet' type='text/css' media='screen' href='{%static  'css/styles.css'%}'>
</head>

    <center>
        <strong><h1>Create a Syllabus</h1></strong>
        <br/><br/>
        {%  if submitted %}
        <h1>Your Syllabus Was Created Successfully!!!</h1>
    </br></br>
        <div class="col-lg-7">
            <a class="btn btn-secondary btn-sm rounded-4" href="{% url 'list-syllabus' %}">Continue</a>
        </div>

        {% else %}

            <form action="" method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="col-lg-4">
                    <button type="submit" value="Submit" class="btn1" >Submit</button>
                </div>
                <br/>
            
            </form>
        </center>

            <style>
                *{
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                }
                .btn1{
                    border: none;
                    outline: none;
                    height: 40px;
                    width: 100%;
                    background-color: black;
                    color: white;
                    border-radius: 4px;
                    font-weight: bold;
                }
            </style>

        {% endif %}
 

    <body id='bg' style="background-image: url('{%static  'img/book.jpg'%}');">
    </body>


{% endblock %}