{% extends 'base.html' %}

{% block content %}

{%load static%}
<head>
<link rel='stylesheet' type='text/css' media='screen' href='{%static  'css/styles.css'%}'>
</head>

    <center>
    {% if searched %}
        <h1>You Searched For {{ searched }}</h1>
        <br/>
        {% for syllabus in syllabus %}
            <a href="{% url 'show-syllabus' syllabus.id %}">{{ syllabus.c_code }} {{ syllabus.name }}</a><br/>
        {% endfor %}

    {% else %}
        <h1>Hey! You Forgot To Search For A Syllabus...</h1>

    {% endif %}

    </center>

    <body style="background-image: url('{%static  'img/largelime.png'%}');">
    </body>



{% endblock %}