{% extends 'base.html' %}

{% block content %}

{%load static%}
<head>
<link rel='stylesheet' type='text/css' media='screen' href='{%static  'css/styles.css'%}'>
</head>

    <center><h1>Syllabus of {{ syllabus.c_code }} </h1></center>
    </br></br>
    <div class="text-center">
      <a class="btn btn-secondary btn-sm rounded-4" href="{% url 'update-syllabus' syllabus.id %}">Update Syllabus</a>
      <a class="btn btn-danger btn-sm rounded-4" href="{% url 'delete-syllabus' syllabus.id %}">Delete Syllabus</a>
    </div> </br>
    <div class="card mx-auto">
        <div class="card-header text-light bg-dark">
          <strong>{{ syllabus.c_code }}</strong>
        </div>
        <div class="card-body">
          <h6 class="card-title">
            Course Name: {{ syllabus.name }}<br/>
            Credits: {{ syllabus.credits }} Units<br/> 
          </h6>
          <p class="card-text">
            <strong>Course Description:</strong> </br>{{ syllabus.course_description }}
          </p>
        </div>
      </div>
      <br/>
      <div class="text-center">
        <a class="btn btn-info btn-sm rounded-4" href="{% url 'course-pdf' syllabus.id %}">Print to PDF</a>
      </br>
      </div>

      <body style="background-image: url('{%static  'img/largelime.png'%}');">
      </body>


{% endblock %}